body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  background: url('./images/plane_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 3rem;
  box-sizing: border-box;
}

.home-header {
  display: flex;
}

.header-div nav {
  width: 30%;
  display: flex;
  justify-content: center;
}

.header-div ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: stretch;
}

.header-div li {
  padding: 1rem;
}

.header-div {
  width: 100%;
  /* margin: 3rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home-header li a {
  color: white;
  text-decoration: none;
}

main {
  margin-bottom: 7rem;
}

main .headline {
  width: 30%;
}

main .byline {
  width: 35%;
}

main button {
  background-color: orangered;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  color: white;
  font-weight: 900;
}